wxpython>=4.2.1
pandas>=2.2.0
seaborn>=0.13.2
flask>=3.0.2
gooey>=1.0.8.1
websocket-client>=1.7.0
Flask-SocketIO>=5.3.6
python-engineio>=4.9.0
gevent>=24.2.1
gevent-websocket>=0.10.1
eventlet>=0.35.1
dnspython==2.2.1
urllib3==1.26.7
