<html>
    <head>
        <title>Jamstats</title>
    </head>
    <body>
        <p><a href="https://jamstats.net"><img src="logo" width="200"></a><br>
            Jamstats version {{jamstats_version}} by TheDM
        </p>
        {% for plot_name in plotname_image_map %}
        <details>
            <summary>{{plot_name}}</summary>
            <p><img src="data:;base64,{{ plotname_image_map[plot_name] }}" width="1000"/></p>
        </details>
        {% endfor %}
        </p>
        <p>
            <br>
            <table width="40%">
            <tr width="40%">
            <td width="40%">
            <H3>A note on data privacy:</H3>
            Jamstats does not store any data from your game file or send it anywhere else.
            It only uses the data to make plots (which are also not retained or sent anywhere)
            and then discards the data.
            </td>
            </tr>
            </table>
        </p>
    </body>
</html>
