<html>
    <head>
        <title>Upload a derby game JSON file</title>
    </head>
    <body>
        <p><img src="logo" width="200"><br>
            Jamstats version {{jamstats_version}} by TheDM
        </p>
        <p>Upload a <a href="https://github.com/rollerderby/scoreboard">CRG scoreboard</a>
            JSON file to generate plots for a roller derby game.</p>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" id="game_file" name="game_file"/>
            <input id="submitButton" type="submit" value="Upload"/>
        </form> 
    </body>
</html>
