<html>
    <head>
        <title>Jamstats</title>
    </head>
    <body>
        <table>
            <tr height="10%"><td></td></tr>
            <tr height="90%">
            <td width="10%"></td>
            <td width="80%">"
                <p><a href="https://jamstats.net"><img src="logo" width="200"></a><br>
                    Jamstats version {{jamstats_version}} by TheDM
                </p>
                <p>Upload a <a href="https://github.com/rollerderby/scoreboard">CRG scoreboard</a>
                    JSON file to generate plots for a roller derby game.</p>
                <form action="/" method="post" enctype="multipart/form-data">
                    <p>
                    <input type="file" id="game_file" name="game_file"/>
                    </p>
                    <p>
                    <input id="submitButton" type="submit" value="Upload"/>
                    </p>
                </form> 
            </td>
            <p>
                Want to report a bug or request a feature? <a href="https://github.com/dhmay/jamstats/issues">Open an issue</a> in GitHub.
            </p>
            <td width="10%"></td>
        </table>
    </body>
</html>
