<html>
    <head>
        <title>Jamstats</title>
        <link rel= "stylesheet" type= "text/css"
              href= "{{ url_for('static',filename='styles/normalize.css') }}">
        <link rel= "stylesheet" type= "text/css"
              href= "{{ url_for('static',filename='styles/skeleton.css') }}">
        <head title="Jamstats">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script type="text/javascript">
    var socket = io();
    socket.on('game_state_changed', function(msg) {
        console.log("game_state_changed");
        document.getElementById('newdata_avail').style.visibility = 'visible'
        setTimeout(function() {
            location.reload();
        }, {{min_refresh_secs}} * 1000);
    });
        </script>
        <noscript>
            <meta http-equiv="refresh" content="{app.autorefresh_seconds}" />
        </noscript>
        <style>
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}
        </style>
    </head>
    <body>
        <div>
                <p>
                <table>
                    <tr>
                        <td width="5"></td> 
                        <td width="20%" valign="top">
                            <p>
                            <a href="https://jamstats.net"><img src="logo" width="175"></a>
                            <br>
                            Jamstats version {{jamstats_version}}
                            <br>
                            by TheDM
                            </p>

                            {% for section in section_name_map %}
                                <b>{{section}}</b><br/>
                                {% for plot_name_forlink in section_name_map[section] %}
                                    {% if plot_name_forlink == plot_name %}
                                        {{plotname_displayname_map[plot_name_forlink]}}
                                    {% else %}
                                        <a href='/?plot_name={{plot_name_forlink}}'>
                                        {{plotname_displayname_map[plot_name_forlink]}}
                                        </a>
                                    {% endif %}
                                    <br/>
                                {% endfor %}
                            <br/>
                            {% endfor %}
                        <p>jamstats server/port:
                                <br/>
                                {{jamstats_ip}}:{{jamstats_port}}
                                <br/>
                            Refresh delay: {{min_refresh_secs}}s
                        </p>
                        </td>
                        <td width="80%" valign="top">
                            <div style="background-color: lightgray">Game Status: {{derby_game.game_status}}</div></div>
                            <p id="newdata_avail" style="visibility: hidden; color: darkred; background-color: lightgray;">
                                New game data available. Refreshing in {{min_refresh_secs}} seconds.
                                <button onClick="window.location.reload();" style="color: darkred">Refresh Now</button>
                            </p>
                            <p><b>{{plotname_displayname_map[plot_name]}}</b></p>
                            {% if plot_name in plots_allowed %}
                                {% if plotname_type_map[plot_name] == "html" %}
                                    <p>{{plotname_func_map[plot_name](derby_game, anonymize_names=anonymize_names) | safe}}</object></p>
                                {% else %}
                                    <p><img src="fig/{{plot_name}}" style="max-width:1000px;max-height:1000px"/>
                                {% endif %}
                            {% else %}
                                <p><H2>Game hasn't started yet</H2></p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                </p>
            </div>
    </body>
</html>
