<html>
    <head>
        <title>Jamstats</title>
        <link rel= "stylesheet" type= "text/css"
              href= "{{ url_for('static',filename='styles/normalize.css') }}">
        <link rel= "stylesheet" type= "text/css"
              href= "{{ url_for('static',filename='styles/skeleton.css') }}">
        <head title="Jamstats">
        <script type="text/javascript">
        setTimeout(function () {
                location.reload();
            }, {{1000 * autorefresh_seconds}});
        </script>
        <noscript>
            <meta http-equiv="refresh" content="{app.autorefresh_seconds}" />
        </noscript>
        <style>
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}
        </style>
    </head>
    <body>
        <div class="header">
                <p>
                    <table>
                        <tr>
                            <td width="5"></td> <td height="100" halign="middle">
                            <a href="https://jamstats.net"><img src="logo" width="175"></a><br>
                            Jamstats version {{jamstats_version}}
                            <br>
                            by TheDM
                            </td>
                            <td align="left" valign="top" bgcolor="gray" width="400" height="100">
                                <p>jamstats server/port:
                                <br/>
                                {{jamstats_ip}}:{{jamstats_port}}</p>
                                <p>Page will refresh every {{autorefresh_seconds}} seconds</p>
                        </td>
                        </tr>
                    </table>
                </p>
        <div>
                <p>
                <table>
                    <tr>
                        <td width="5"></td> 
                        <td width="20%" valign="top">
                            {% for section in section_name_map %}
                                <b>{{section}}</b><br/>
                                {% for plot_name_forlink in section_name_map[section] %}
                                    {% if plot_name_forlink == plot_name %}
                                        {{plotname_displayname_map[plot_name_forlink]}}
                                    {% else %}
                                        <a href='/?plot_name={{plot_name_forlink}}'>
                                        {{plotname_displayname_map[plot_name_forlink]}}
                                        </a>
                                    {% endif %}
                                    <br/>
                                {% endfor %}
                            <br/>
                            {% endfor %}
                        </td>
                        <td width="80%" valign="top">
                            <p><b>{{plotname_displayname_map[plot_name]}}</b></p>
                            {% if plotname_type_map[plot_name] == "html" %}
                                <p>{{plotname_func_map[plot_name](derby_game) | safe}}</object></p>
                            {% else %}
                                <p><img src="fig/{{plot_name}}" width="100%"/>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                </p>

        </div>
    </body>
</html>
