<html>
    <head>
        <title>Jamstats</title>
        <link rel= "stylesheet" type= "text/css"
              href= "{{ url_for('static',filename='styles/normalize.css') }}">
        <link rel= "stylesheet" type= "text/css"
              href= "{{ url_for('static',filename='styles/skeleton.css') }}">
        <head title="Jamstats">
        <script type="text/javascript">
        setTimeout(function () {
                location.reload();
            }, {{1000 * autorefresh_seconds}});
        </script>
        <noscript>
            <meta http-equiv="refresh" content="{app.autorefresh_seconds}" />
        </noscript>
    </head>
    <body>
        <div class="container">
            <div style="clear: both">
                <p>
                    <table>
                        <tr> <th>
                        <a href="https://jamstats.net"><img src="logo" width="175"></a><br>
                        Jamstats version {{jamstats_version}}
                        <br>
                        by TheDM
                        </th>
                        <th align="left" valign="top" bgcolor="gray" width="200" height="100">
                            <p>jamstats server/port:
                            <br/>
                            {{jamstats_ip}}:{{jamstats_port}}</p>
                            <p>Page will refresh every {{autorefresh_seconds}} seconds</p>
                        </th>
                    </tr>
                    </table>
                </p>
                <p>
                <table>
                    <tr>
                        <td width="30%" valign="top">
                            {% for section in section_name_map %}
                                <b>{{section}}</b><br/>
                                {% for plot_name_forlink in section_name_map[section] %}
                                    {% if plot_name_forlink == plot_name %}
                                        {{plotname_displayname_map[plot_name_forlink]}}
                                    {% else %}
                                        <a href='/?plot_name={{plot_name_forlink}}'>
                                        {{plotname_displayname_map[plot_name_forlink]}}
                                        </a>
                                    {% endif %}
                                    <br/>
                                {% endfor %}
                            <br/>
                            {% endfor %}
                        </td>
                        <td width="70%" valign="top">
                            <p><b>{{plotname_displayname_map[plot_name]}}</b></p>
                            {% if plot_name == "Recent Penalties" %}
                                <p>{{recent_penalties_html | safe}}</p>
                            {% else %}
                                <p><img src="fig/{{plot_name}}" width="100%"/>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                </p>
            </div>

        </div>
    </body>
</html>
